{% extends 'base.html' %}

{% block content %}

<h1> Some of our famous activities:  </h1>

<div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1" 
              name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="/static/imagenes/dolphins.jpeg"  width="1000" height="500">
        </div>
        <input class="slide-open" type="radio" id="slide-2" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="/static/imagenes/prey.jpeg"  width="1000" height="500">
        </div>
        <input class="slide-open" type="radio" id="slide-3" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="/static/imagenes/nocturnalsafari.jpeg"  width="1000" height="500" >
        </div>

        <input class="slide-open" type="radio" id="slide-4" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="/static/imagenes/reptilian.jpeg"  width="1000" height="500" >
        </div>
        <label for="slide-4" class="slide-control prev control-1">‹</label>
        <label for="slide-4" class="slide-control next control-3">›</label>
        <label for="slide-3" class="slide-control prev control-4">‹</label>
        <label for="slide-2" class="slide-control next control-1">›</label>
        <label for="slide-1" class="slide-control prev control-2">‹</label>
        <label for="slide-3" class="slide-control next control-2">›</label>
        <label for="slide-2" class="slide-control prev control-3">‹</label>
        <label for="slide-1" class="slide-control next control-4">›</label>
        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-4" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>

{% endblock %}


