{% extends 'base.html' %}

{% block content %}
<div class="Reservation">

    <div class="con">
        <h1>Reservation for date: {{scheduled_event.time_date}} </h1>
        <br>

        
    <div>
        <form action="{{ url_for('main.reservation', scheduled_id=scheduled_event.id) }}" method="post">
            <input id ="places" class="form-input" type="number" name="places" placeholder="Places" required/>
            <br>
            <input type="hidden" name="user" value="{{ current_user.id }}">
            <br>
            <input class="LoginSignupButton", type="submit" value="Make reservation"/> 
        </form>
    
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            <br>
                {{ message }}</div>
            {% endfor %}
        {% endwith %}

    </div>   


    <div class="other">
        <form action = "{{ url_for('main.event', event_id=scheduled_event.event_id)}}">
        Do you want another date? 
            <button class = "btn submits sign-up"> Go back to dates </button>
        </form>         
    </div>
    </div>

    
</div>
{% endblock %} 