<div class="event_principal">
    <h2>{{reservation.scheduled.activity.title}}</h2> 
    <div class="info">    
            <p>Places reserved: <strong>{{reservation.places}}</strong></p>
            <p>Total price: <strong>{{reservation.places*reservation.scheduled.price}} $</strong></p>
            <p>Date: <strong>{{reservation.scheduled.time_date}}</strong></p>
            <br>
            <p>The reservation was made: </p>
            <p><strong>{{reservation.date_time}}</strong></p>
    </div>
</div>


